.driverhomepage {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 50px;
  margin-left: 224px;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 2;
}

.top-ratings{
  color: #ffad01;
  font-family: "Oswald", sans-serif;
  font-weight: 1000;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(209 200 200 / 10%);
  border: 2px solid #ffad01;
  color: #fff;
  border-radius: 20px;
}

.home-heading{
  color: #F1FAEE;
  font-family: "Oswald", sans-serif;
  font-weight: 1000;
}

.logo {
  width: 121px; 
  height: auto; 
  margin-right: 10px;
}

.user-icon-container {
  margin-right: 10px;
  font-size: 37px;
  position: relative;
  cursor: pointer;
  color: #ffad01;
}

.sign-out-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  color: #262121;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sign-out-options p {
  margin: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .driverhomepage {
    margin: 50px auto; 
    width: 90%; 
  }

  .left-side,
  .right-side {
    flex: 1;
  }

  .header-home{
    flex-direction: row;
  }

  .home-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 86px;
  }

  .logo {
    display: none;
  }

  .home-heading{
    font-size: 32px;
  }

  .user-icon-container {
    margin-right: 0;
  }

  .sign-out-options {
    width: 138%;
    font-size: 13px;
    margin-top: 10px 
  }
}
