.driverform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background-color: rgb(209 200 200 / 10%);
  /* box-shadow: 0rem -0.5rem 3.1rem #ffad01 !important; */
  border: 2px solid #ffad01
}

.title {
  font-size: 28px;
  color: #ffad01;
  letter-spacing: 1px;
  font-weight: 900;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-family: inter, sans-serif;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ffad01;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #ffad01;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.label {
  color: #ffad01;
  font-size: 14px;
  font-family: inter, sans-serif;
  font-weight: 700;
}

.message,
.signin {
  color: #e7fdff;
  font-size: 14px;
  font-family: inter, sans-serif;
  font-weight: 700;
}

.signin {
  text-align: center;
  font-family: inter, sans-serif;
}

.signin a {
  color: #ffad01;
}

.signin a:hover {
  text-decoration: green;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 90%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: #ffad01;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  transform: 0.3s ease;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
