.ratingstable {
  width: 80%;
  border-radius: 2px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(26, 24, 25);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3) inset;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  border: 3px solid #ffad01; /* Set border color for table cells */
  background-color: rgb(26, 24, 25);
  color: #F1FAEE;
}

table th {
  font-weight: 1000;
}

table tbody tr {
  background: rgba(255, 255, 255, 0.767);
  backdrop-filter: blur(10px);
}

table tbody tr:hover {
  background-color: rgba(12, 17, 11, 0.5);
}

table th:first-child,
table td:first-child {
  border-left: none;
}

table th:last-child,
table td:last-child {
  border-right: none;
}

.fare-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  background-color: rgb(209 200 200 / 10%);
  border: 2px solid #ffad01;
}

.form-title {
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
}

.fare-form label {
  position: relative;
}

.fare-form label .input {
  width: 90%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
}

.fare-form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  font-family: "Oswald", sans-serif;
}

.fare-form label .input:placeholder-shown + span {
  font-family: "Oswald", sans-serif;
  top: 15px;
  font-size: 0.9em;
}

.fare-form label .input:focus + span,
.fare-form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.fare-form label .input:valid + span {
  color: green;
}

.fare {
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
}

.fare-header {
  font-weight: 700;
  color: #ffad01;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
